<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishUrl>D:\AgroConector\Publish\</PublishUrl>
    <InstallUrl>\\192.168.0.47\DescarConector\INTERFAZ-MONITOR\</InstallUrl>
    <InstallFrom>Unc</InstallFrom>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <ApplicationRevision>0</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <CreateDesktopShortcut>true</CreateDesktopShortcut>
    <CreateAutoStartupShortcut>false</CreateAutoStartupShortcut>
    <MapFileExtensions>true</MapFileExtensions>
    <ProductName>Descar Conector Monitor</ProductName>
    <PublisherName>AgroConector</PublisherName>
    <OpenBrowserOnPublish>false</OpenBrowserOnPublish>
  </PropertyGroup>
</Project>
